Django>=5.0
djangorestframework
psycopg2-binary
gunicorn
redis
celery
whitenoise
python-dotenv

djangorestframework-simplejwt>=5.3
django-cors-headers
django-filter
Pillow
weasyprint
pyotp>=2.9
qrcode[pil]>=7.4
